* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 80%;
  max-width: 1200px;
  /* background-color: #c1b29a; */
  margin: 0 auto;
  border: 1px solid gray;
  height: 1000px;
  font-family: Avenir, "Helvetica Neue", Helvetica;
}
/* inizio header */
 header .bglightblue {
   height: 70px;
   background-color: #f5f8fa;
   border-bottom: 2px solid #607D8B;
 }

 header .bgwhite {
   height: 70px;
   background-color: white;
 }
 header .bgpink {
   height: 450px;
   /* background-color: #fff3ee; */

 }

.bgpic {
  height: 520px;
  background-image: url(https://cdn2.hubspot.net/hubfs/53/raw_assets/public/_Web%20Team%20Assets/Website/assets/svg/hero.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #fff3ee;
  background-size: contain;
  background-size: 73%;
}
 .bgazzurro {
   height: 70px;
   background-color: #a8e9e2;
   border-top:3px solid #33475c;
   border-bottom: 3px solid #33475c;
 }

 .logo {
   float: left;
   line-height: 70px;
   padding-top: 10px;
   height: 70px;
 }

nav ul li {
  color: #33475b;
  display: inline-block;
  padding-left: 20px;
  font-weight: bold;
  font-size: 16px;
  font-family: AvenirNext, "Helvetica Neue", Helvetica;
}

nav {
  float: right;
  line-height: 70px;
}

ul li i {
  padding-left: 10px;
}

.navbar ul li {
  display: inline-block;
  font-size: 16px;
  color: #33475b;
  line-height: 70px;
  font-family: Avenir, "Helvetica Neue", Helvetica;
}
.navbar ul li:last-child {
  padding-left: 15px;
}
.navbar ul li i:first-child {
  padding-right: 5px;
}
.navbar ul li i:last-child {
  padding-left: 5px;
  border-right: 2px solid #33475b;
  padding-right: 20px;
}
.navbar ul {
  float: left;
}

.navbar .right {
  float: right;
  display: inline-block;
  line-height: 70px;
}
header .right i {
  color: #00a4bd;
  font-size: 16px;
  font-weight: bold;
}

.right button {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ff7a59;
}

.right button:first-of-type {
  color: #ff7a59;
  margin: 0 15px;
  background-color: #f5f8fa;
  /* border-style: outset; */
  /* border-color: #ff7a59; */
}
.right button:last-of-type {
  color: white;
  background-color: #ff7a59;
}

.jumbotron {
  width: 47%;
  height: 450px;
  /* background-color: lightblue; */
  padding-top: 40px;
}

h1 {
  font-size: 46px;
  color: #33475b;
}

.subt {
  font-size: 15px;
  color: #33475b;
  margin: 30px 0;
}

.sub {
  font-size: 14px;
  color: #33475b;
}

.jumbotron button {
  color: white;
  background-color: #ff7a59;
  border-radius: 5px;
  padding: 15px 34px;
  border: 1px solid #ff7a59;
  margin-bottom: 30px;
}

/* fine header */

main .bglight {
  background-color: #f5f8fa;
  height: 1000px;
}

main .rowf {
  height: 300px;
  text-align: center;
  padding: 0 165px;
}

.rowf img {
  width: 200px;
  margin-top: 25px;
}
.rowf h2 {
  font-size: 30px;
  color: #33475b;
}
.rowf p {
  margin-top: 20px;
  font-size: 14px;
  color: #33475b;
}

main .rows {
  border: 1px solid lightblue;
  background-color: white;
  height: 300px;
}
.sideimg {
  width: 370px;
  /* border: 1px solid black; */
  height: 100%;
  text-align: center;
  padding: 50px;
  float: left;
}
.sideimg img {
  width: 150px;
}

.sideimg button {
 padding: 15px 40px;
 color: white;
 background-color:#ff7a59;
 border-radius: 5px;
 border-color: #ff7a59;
}

.sidetext {
  color: #33475b;
  padding-right: 50px;
}

.sidetext h3{
  padding-top: 50px;
  font-size: 22px;
}

.sidetext p:first-of-type {
  padding-top: 25px;
  font-size: 14px;
}

.phr p:last-of-type {
  font-size: 15px;
}

.phr {
  position: relative;
}
.phr p:last-of-type::after {
   content: '';
   position: absolute;
   height: 8px;
   margin-left: 30px;
   border-bottom: 1px solid #e0e6ed;
   width: 45%;
   /* overflow-x: hidden; */
}

.list ul li{
  display: inline-block;
  font-size: 14px;
}

.list ul li i{
  color: #ff7a59;
  padding-right: 10px;
}

.list {
  padding-top: 30px;
}

.rows {
  margin-bottom: 50px;
}

.rowt {
  height: 550px;
  background-color: pink;
}
.cardbox {
  background-color: yellow;
  height: 500px;
}

.card {
  height: 500px;
  float: left;
  width: 325px;
  background-color: white;
  border: 1px solid lightblue;
}

.card:nth-child(2) {
  margin: 0 51px;
}

.cardtext {
  text-align: center;
}

.cardtexttop img {
  width: 150px;
}
.cardtexttop h3 {
  font-size: 22px;
  padding: 15px 0;
}
.cardtexttop hr {
  margin: 25px 0;
}
.cardtextbottom h4 {
  text-transform: uppercase;
  margin-bottom: 25px;
}

.cardtextbottom ul {
  list-style: none;
  text-align: left;
}
.cardtextbottom ul li {
 padding-bottom: 10px;
}
.cardtextbottom ul li i{
  color: #ff7a59;
}
